body {
  background: #A9A9A9;
  font-family: Gill Sans MT;
}

#title-section {
  background: white;
  padding: 2px;
  border-style: solid;
  border-color: #313131;
  margin-bottom: 5px;
}

#title {
  text-align: center;
}
